CompileFlags:
  Remove: ['-fimplicit-constexpr', '-fhardened']
  Add: ['-std=c++2c', '-ferror-limit=0']

Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  UnusedIncludes: Strict

---

If:
  PathMatch: [include/ECS/queryBuilder\.h, include/ECS/ecsView\.h, include/ECS/forEachPolicy\.h, include/ECS/forEachQuery\.h]
Diagnostics:
  Suppress: '*'
